.guide_card {
  width: 350px;
  height: 150px;
  background: #2c2c2c;
  border-radius: 10px;
  margin: 15px;
}
.guide_card h1 {
  margin: 10px 0px;
  font-size: 24px;
}
.guide_card .guide_card_text {
  font-size: 17px;
  margin: 0px 20px;
  text-align: justify;
}

@media (max-width: 600px) {
  .guide_card h1 {
    font-size: 20px;
  }
  .guide_card .guide_card_text {
    font-size: 16px;
  }
}
